
.idea/.idea.LearnReactTypescript.dir/.idea/vcs.xml
.idea/.idea.LearnReactTypescript.dir/.idea/riderModule.iml
.idea/.idea.LearnReactTypescript.dir/.idea/indexLayout.xml
.idea/.idea.LearnReactTypescript.dir/.idea/encodings.xml
*.xml
